*{
	margin:0;
	padding:0:
}
.header{
	width:100%;
	min-height: 100vh;
	background-image: url("images/background.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 3%;
}
nav img{
	width: 150px;
	
}

.link{
	flex: 1;
	text-align: right;
}

.link ul li{
	list-style: none;
	display: inline-block;
	position: relative;
	padding: 8px 12px;
}

.link ul li a{
	color:white;
	text-decoration: none;
	font-size: 15px;
}	

.link ul li::after{
	content:"";
	width:0%;
	height:2px;
	background: lightyellow;
	display: block;
	margin: auto;
	transition: 0.2s;
}
.link ul li:hover::after{
	
	width:100%;
}

.text{
	width:70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color:lightyellow;
}
.text h1{
	font-size:60px
}
.text p{
	font-size:20px
}
